body {
    padding: 0;
    margin: 0;
    color: #d4d4d4;
    background-color: #000000;
    font-family:
        "Hiragino Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
    line-height: 1.4;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas:
        ". . ."
        ". main .";
}
.bullet {
    display: grid;
    grid-template-columns: min-content 1ch auto;
    grid-template-rows: auto;
    grid-template-areas: "label . text";
}
.label {
    grid-area: label;
}
.text {
    grid-area: text;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}
